<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">HUGI</h1>
        </div>
        <h3>Chào mừng đến với HUGI !</h3>
        <form class="m-t" method="POST" role="form" action="/auth/login">
            <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="Email" required="">
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Mật khẩu" required="">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Đăng nhập</button>

            <a href="#"><small>Quên mật khẩu?</small></a>
            <p class="text-muted text-center"><small>Không có tài khoản?</small></p>
            <a class="btn btn-sm btn-white btn-block" href="/auth/register">Tạo tài khoản</a>
        </form>
        {{!-- <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p> --}}
    </div>
</div>
