<body>
    <div id="wrapper">

        <div class="gray-bg">

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Thêm nhân sự</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a>Quản trị viên</a>

                        </li>
                        <li>
                            <a href="/manager">Quản lý nhân sự</a>
                        </li>
                        <li class="active">
                            <strong>Thêm nhân sự</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Thêm</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-sm-6 b-r">
                                        <h3 class="m-t-none m-b">Thông tin tài khoản </h3>
                                        <form role="form">
                                            <div class="form-group"><label>Họ và tên</label> <input type="text"
                                                    placeholder="Enter name" class="form-control"></div>
                                            <div class="form-group"><label>Email</label> <input type="email"
                                                    placeholder="Enter email" class="form-control"></div>
                                            <div class="form-group"><label>Số điện thoại</label> <input type="phone"
                                                    placeholder="Phone" class="form-control"></div>
                                            <div class="form-group"><label>Ngày sinh</label> <input type="date"
                                                    placeholder="birthday" class="form-control"></div>
                                            <div class="form-group"><label>Chức vụ</label>
                                                <select id="role">
                                                    <option value="admin"></option>
                                                    <option value="user">User</option>
                                                    <option value="SEO">SEO</option>
                                                    <option value="manager">Manager</option>
                                                </select>
                                            </div>
                                            <div class="form-group"><label>Password</label> <input type="password"
                                                    placeholder="Password" class="form-control"></div>
                                            <div>
                                                <button class="btn btn-sm btn-primary pull-right m-t-n-xs"
                                                    type="submit"><strong>Thêm nhân sự</strong></button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="text-center">
                                            <small>Tổng quan nhân sự</small><br><br>
                                            <div class="m-r-md inline">
                                                <div style="display:inline;width:85px;height:85px;"><canvas width="85"
                                                        height="85"></canvas><input type="text" value="75"
                                                        class="dial m-r-sm" data-fgcolor="#1AB394" data-width="85"
                                                        data-height="85"
                                                        style="width: 46px; height: 28px; position: absolute; vertical-align: middle; margin-top: 28px; margin-left: -65px; border: 0px; background: none; font: bold 17px Arial; text-align: center; color: rgb(26, 179, 148); padding: 0px; appearance: none;">
                                                </div>
                                            </div>
                                            <div class="m-r-md inline">
                                                <div style="display:inline;width:85px;height:85px;"><canvas width="85"
                                                        height="85"></canvas><input type="text" value="25"
                                                        class="dial m-r" data-fgcolor="#1AB394" data-width="85"
                                                        data-height="85"
                                                        style="width: 46px; height: 28px; position: absolute; vertical-align: middle; margin-top: 28px; margin-left: -65px; border: 0px; background: none; font: bold 17px Arial; text-align: center; color: rgb(26, 179, 148); padding: 0px; appearance: none;">
                                                </div>
                                            </div>
                                            <div class="m-r-md inline">
                                                <div style="display:inline;width:85px;height:85px;"><canvas width="85"
                                                        height="85"></canvas><input type="text" value="50"
                                                        class="dial m-r" data-fgcolor="#1AB394" data-width="85"
                                                        data-height="85"
                                                        style="width: 46px; height: 28px; position: absolute; vertical-align: middle; margin-top: 28px; margin-left: -65px; border: 0px; background: none; font: bold 17px Arial; text-align: center; color: rgb(26, 179, 148); padding: 0px; appearance: none;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Danh sách nhân sự</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">
                                        <li><a href="#">Config option 1</a>
                                        </li>
                                        <li><a href="#">Config option 2</a>
                                        </li>
                                    </ul>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <form class="form-horizontal">
                                    <p>Sign in today for more expirience.</p>
                                    <div class="form-group"><label class="col-lg-2 control-label">Email</label>

                                        <div class="col-lg-10"><input type="email" placeholder="Email"
                                                class="form-control"> <span class="help-block m-b-none">Example
                                                block-level help text here.</span>
                                        </div>
                                    </div>
                                    <div class="form-group"><label class="col-lg-2 control-label">Password</label>

                                        <div class="col-lg-10"><input type="password" placeholder="Password"
                                                class="form-control"></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <div class="i-checks"><label> <input type="checkbox"><i></i> Remember me
                                                </label></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <button class="btn btn-sm btn-white" type="submit">Sign in</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="footer">
            <div class="pull-right">
                10GB of <strong>250GB</strong> Free.
            </div>
            <div>
                <strong>Copyright</strong> Example Company &copy; 2014-2015
            </div>
        </div>

    </div>
    </div>
    <!-- iCheck -->
    <script src="js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
    
</body>