<body>
    <div id="wrapper">
        <div class="gray-bg">
            <div class="row border-bottom">
                <div class="col-lg-9 animated fadeInRight">
                    <div class="mail-box-header">

                        <h2>
                            Biên soạn thư
                        </h2>
                    </div>
                    <div class="mail-box">
                        <div class="mail-body">

                            <form class="form-horizontal" method="get">
                                <div class="form-group"><label class="col-sm-2 control-label">Người nhận:</label>
                                    <div class="col-sm-10"><input type="text" class="form-control"
                                            placeholder="alex.photo@hugi.com">
                                    </div>
                                </div>


                                <div class="mail-text h-200" style="padding-top: 10px">
                                    <div class="form-group"><label class="col-sm-2 control-label"
                                            style="padding-top: 10px">Nội dung:</label>
                                        <div class="summernote">
                                            <div class="col-sm-10"><input type="text" class="form-control"
                                                    placeholder="...">
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="mail-body text-right tooltip-demo">
                                        <a href="mailbox.html" class="btn btn-sm btn-primary"><i
                                                class="fa fa-reply"></i> Gửi</a>
                                        <a href="/mailbox" class="btn btn-danger btn-sm"><i class="fa fa-times"></i>
                                            Hủy</a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>