<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUGI</title>
    <link rel="icon" href="/image/logo.jpg" type="image/x-icon">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Toastr style -->
    <link href="/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <!-- Gritter -->
    <link href="/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">

    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">

</head>

<body>
    <div id="wrapper">
        {{>sidebar}}
        <div id="page-wrapper" class="gray-bg dashbard-1">
            {{>header}}
            {{{body}}}
        </div>
    </div>
    {{>footer}}
</body>

</html>